sudo: false

dist: trusty

language: php

notifications:
  email:
    on_success: never
    on_failure: change

branches:
  only:
    - master
    - /^release-.+$/

jobs:
  include:
    - stage: sniff
      script: ./ci/sniff.sh
      php: 7.1
    - stage: test
      script: ./ci/test.sh
      php: 7.2
    - stage: test
      script: ./ci/test.sh
      php: 7.1
    - stage: test
      script: ./ci/test.sh
      php: 7.0
    - stage: test
      script: ./ci/test.sh
      php: 5.6
    - stage: test
      script: ./ci/test.sh
      php: 5.5
    - stage: test
      script: ./ci/test.sh
      php: 5.4
    - stage: test
      script: ./ci/test.sh
      php: 5.3
      dist: precise

cache:
  directories:
  - vendor
  - $HOME/.composer/cache

before_install:
  - phpenv config-rm xdebug.ini

before_script:
  - ./ci/prepare.sh
