<?xml version="1.0"?>
<ruleset name="WP-Config-Transformer">
	<description>Custom ruleset for WP Config Transformer</description>

	<!--
	#############################################################################
	COMMAND LINE ARGUMENTS
	For help understanding this file: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml
	For help using PHPCS: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage
	#############################################################################
	-->

	<!-- What to scan. -->
	<file>.</file>

	<!-- Show progress. -->
	<arg value="p"/>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="./"/>

	<!-- Check up to 8 files simultanously. -->
	<arg name="parallel" value="8"/>

	<!--
	#############################################################################
	USE THE WP_CLI_CS RULESET
	#############################################################################
	-->

	<rule ref="WP_CLI_CS"/>

	<!--
	#############################################################################
	PROJECT SPECIFIC CONFIGURATION FOR SNIFFS
	#############################################################################
	-->

	<!-- For help understanding the `testVersion` configuration setting:
		 https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
	<config name="testVersion" value="5.6-"/>

	<rule ref="Internal.NoCodeFound">
		<exclude-pattern>tests/fixtures/wp-config-empty\.php$</exclude-pattern>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedConstantFound">
		<exclude-pattern>tests/fixtures/wp-config-(?:example|not-writable)\.php$</exclude-pattern>
	</rule>

	<rule ref="WordPress.WP.GlobalVariablesOverride.Prohibited">
		<exclude-pattern>tests/fixtures/wp-config-(?:example|not-writable)\.php$</exclude-pattern>
	</rule>

	<rule ref="Squiz.PHP.CommentedOutCode.Found">
		<exclude-pattern>tests/fixtures/wp-config-example\.php$</exclude-pattern>
	</rule>

</ruleset>
